@import 'base/fonts';

html {
    font-size: $g-font-size * 1px;
    // font-size: calc(100vw * #{$g-font-size / $g-min-width});
}

body {
    @include font-regular();
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden;
    color: color(foreground);
    background: color(background);
    line-height: 1.4;
}

a {

    &,
    &:active,
    &:visited {
        color: color(foreground);
        text-decoration: none;
    }
}


* {

    &:focus {
        outline: 0;
    }

    &,
    &::after,
    &::before {
        box-sizing: border-box;
        transition-duration: $g-transition-duration;
        transition-timing-function: $g-transition-timing-function;
        transition-property: $g-transition-property;
        user-select: none;
        tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
